.card-details {
  font-size: 0.95rem;
  color: #444;
  transition: all 0.3s ease;
}

.toggle-btn-icon {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  background: none;
  border: none;
  font-size: 1.25rem;
  color: #111010;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.toggle-btn-icon:hover {
  transform: scale(1.2);
}
